{% extends "layout.html" %}
{% block content %}
<div class="about">
    <h1>About Uy Eduok </h1>
    <p>A computer scientist that is just learning how to code lol</p>
    <p>Well its not too late to start</p>
    <p>Anytime were man wakeup na him morning</p>
    <p>but watch out for this name, i will go place in Jesus Name</p>
    <p>And lastly Chelsea FC won the Super Cup</p>
    <p>Up the Blues</p>
    <img src="/static/chelsea.jpg" alt="SAP Logo" width="1200px" height="300px"/>
</div>
{% endblock %}
